.modal{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    min-height: 500px;
    min-width: 350px;
    max-width: 400px;
    transform: translate(-50%, -50%);
    background-color: white;
    filter: drop-shadow(10px 10px 15px rgb(0, 0, 0));
    border-radius: 1rem;
    /* padding: 2rem; */
    overflow: hidden;
    z-index: 4;
    
} 

.modal-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    font-size: 1.5rem;
    border-bottom: 1px solid gray;
}

.modal-header > h3{
    font-family: monospace;
    background-color: black;
    color: aliceblue;
    padding: 0.2vh 0vw;
    padding-left: 1vw;
    padding-right: 10vw;
    border-radius: 10px;
    filter: drop-shadow(8px 8px 10px gray);
}



.modal-header > i.ri-close-large-fill{
    color: gray;
    font-weight: 500;
    border-radius: 10px;
    border: 5px solid transparent;
    padding: 5px;
    cursor: pointer;
}
.modal-header > i.ri-close-large-fill:hover{
    border: 5px solid lightblue;
}


.modal-body > form{
  padding: 1rem;
}

.form-control{
    display: flex;
    flex-direction: column;
    gap: 0.9vh;
    font-size: 1rem;
    margin-bottom: 2rem;
}

.input-with-sensitive-info{
    display: flex;
    flex-direction: column;
}
.input-with-sensitive-info > input{
  font-size: 1rem;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ADADC2;
  transition: 400ms ease-in-out;
}

.input-with-sensitive-info > input:hover{
    filter: drop-shadow(5px 5px 8px gray);
}
.input-with-sensitive-info > input:focus{
    filter: drop-shadow(5px 5px 8px gray);
}

/* .form-control .for-password > input{
    font-size: 1rem;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ADADC2;
    width: 100%;
    transition: 400ms ease-in-out;
}

.form-control .for-password > input:hover{
    filter: drop-shadow(5px 5px 8px gray);
} */

form > input[type='submit']{
    margin-block: 1rem;
    padding: 5px 10px;
    background-color: black;
    color: aliceblue;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: 400ms ease-in-out;
}

form > input[type='submit']:hover{
    background-color: rgb(42, 41, 41);
    filter: drop-shadow(5px 5px 8px gray);
}
form #imGuest{
    margin-block: 1rem;
    margin-left: 1rem;
    padding: 5px 10px;
    background-color: rgb(96, 176, 226); 
    font-weight: 500;
    color: aliceblue;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: 400ms ease-in-out;
}

form #imGuest:hover{
    background-color: rgb(48, 85, 123);
    filter: drop-shadow(5px 5px 8px gray);
}

.modal-body .small-text-container{
    text-align: center;
    padding-inline: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-block: 2rem;
}

.modal-body .small-text-container > small{
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}




/* CSS for login form im guest loader */
.spin-loader{
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border-top: 3px solid whitesmoke;
    border-right: 3px solid whitesmoke;
    color: black;
    animation: spin 1s linear infinite;
    /* background-color: red; */
}

@keyframes spin {
    from{
        transform: rotate(0deg);
        /* border-top:3px solid whitesmoke;
        border-right:3px solid whitesmoke; */
    }
    to{
        transform: rotate(360deg);
        /* border-top:3px solid red;
        border-right:3px solid red; */
    }
}

/* input border for error messages */
.input-err-border:focus{
    /* border: 2px solid red; */
    outline: red;
}

.shakeIt{
    animation: shake 1s;
    animation-iteration-count: infinite;

}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }
        
    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }
    
    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }
    
    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
  }


  /* CSS for last modal hide class, when user logged-in the after some sec. modal get's hide but before it the below class shows loading screen  */
  .please-wait-until-modal-hides{
    /* z-index: 4; */
    
  }

  .please-wait-until-modal-hides::before{
    content: "";
    position: absolute;
    z-index: 4;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
  }
  .please-wait-until-modal-hides::after{
    content: "";
    position: absolute;
    left: 40%;
    top: 40%;
    /* transform: translate(-10%,-10%);  */
    z-index: 5;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: transparent;
    border-top: 5px solid black;
    border-right: 5px solid black;
    animation: spin 1s linear infinite;
  }













.back-formodal{
    display: none;
    position: fixed;
    top: 0%;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.74); 
    z-index: 3;
}

.hide-body{
    overflow-y: hidden;
}

.showModal{
    display: block;
}

