aside{
    position: fixed;
    right: -100%;
    top: 0%;
    width: 25%;
    background-color: whitesmoke;
    height: 100%;
    z-index: 1;
    overflow-y: scroll;
    transition: 400ms ease-in-out;
  
}

/* CSS for Aside Header */

aside .aside-header{
    font-size: 2rem;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-bottom: 2px solid gray;
}

aside .aside-header .ri-shopping-bag-line{
    font-size: 2.4rem;
}

aside .aside-header .ri-close-large-line{
    color: red;
    font-weight: 500;
    border-radius: 10px;
    border: 4px solid transparent;
    padding: 5px;
    cursor: pointer;
    transition: 400ms ease-in-out;
}
aside .aside-header .ri-close-large-line:hover{
    border: 4px solid rgba(255, 0, 0, 0.559);
    filter: drop-shadow(3px 3px 5px black);
}

aside.movedDown{
    right: -100%;
}

aside.moveUp{
    right: 0%;
}


/* CSS for items card (body of aside)*/

.items-in-cart{
    width: 100%;
    height: 55%;
    /* background-color: blueviolet; */
    padding: 2rem 1rem;
    position: absolute;
    width: 100%;
    z-index: 1;
    overflow-y: scroll;
   /* background-color: antiquewhite; */
   display: flex;
   flex-direction: column;
   gap: 1rem;
}

.cart-one-card{
    display: flex;
    gap: 1vw;
    background-color: #E5E5E5;
    height: 100px;
    padding: 10px;
    max-height: 100px;
    border-radius: 10px;
    position: absolute;
    width: 100%;
    z-index: 1;
    transition: 900ms ease-in-out;
    cursor: pointer;  
}

.cart-one-card:hover{
    filter: drop-shadow(5px 5px 8px gray);
}

/* CSS for card back panel */

.card-back-panel{
    position: absolute;
    width: 92%;
    height: 100px;
    transition: 900ms ease-in-out;
    
}

.hover-panel{
    position: absolute;
    right: 10%;
    bottom: 5%;
    min-width: 30%;
    height: 25%;
    border-radius: 8px;
    background-color: green;
    color: aliceblue;
    font-weight: 500;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    transition: 700ms ease-in-out;
    z-index: 0;
    
} 

#card-plate{
    margin-bottom: 5rem;
}

.card-back-panel:hover{
    height: 137px;
   
}


/* CSS for card body */

.cart-one-card .left-image{
    border-radius: 5px;
    overflow: hidden;
    filter: drop-shadow(8px 8px 10px gray);
   
}

.cart-one-card .right-card-info{
    height: 100%;
    width: 75%;
   
}
.cart-one-card .right-card-info h5{
    /* font-size: 1rem; */
    height: 50%;
    overflow: hidden;
}

.cart-one-card .right-card-info .bottom-section-of-card{
    display: flex;
    height: 50%;
    justify-content: space-around;
    align-items: center;
    
}

.cart-one-card .right-card-info .bottom-section-of-card > span{
    font-size: 1.4rem;
    font-weight: 500;
    
}

.cart-one-card .right-card-info .bottom-section-of-card .input-for-quantity{
  display: flex;
  width: 55%;
  transition: 400ms ease-in-out;
}

.cart-one-card .right-card-info .bottom-section-of-card .input-for-quantity:hover{
    filter: drop-shadow(5px 5px 8px gray);
}

.input-for-quantity > input{
    border: none;
    font-size: 1.4rem;
    width: 55%;
    padding-inline: 3px;
}

.input-for-quantity button{
    border: none;
    padding: 2px;
    padding-inline: 8px;
    font-size: 1.4rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.input-for-quantity > button:first-child{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: lightcoral;

}
.input-for-quantity > button:first-child:hover{
    background-color: rgb(214, 150, 150);

}


.input-for-quantity > button:last-child{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: lightgreen;
}
.input-for-quantity > button:last-child:hover{
    background-color: rgb(133, 169, 133);
}

.bottom-section-of-card .ri-delete-bin-6-fill{
    font-size: 1.5rem;
    color: red;
    cursor: pointer;
}
.bottom-section-of-card .ri-delete-bin-6-fill:hover{
   filter: drop-shadow(3px 3px 5px gray);
}




/* CSS for CART Summary */

.cart-summary{
    width: 100%;
    height: 35%;
    padding: 2rem 1rem;
    position: absolute;
    width: 100%;
    z-index: 1;
    bottom: 0%; 
}

.cart-summary{
    padding: 1rem;
    font-size: 1.2rem;
}

.cart-summary > h3{
    font-size: 2rem;
    border-bottom: 2px solid gray;
    padding-bottom: 1rem;
}

.cart-summary .summary-item{
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
}

.cart-summary .summary-item:nth-child(6){
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #a19e9e;
}

.cart-summary .summary-item > span:first-child{
    font-weight: bold;
}

.cart-summary .checkout-button{
    padding-block: 0.3rem;
    padding-inline: 0.5rem;
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 1rem;
    border: none;
    border-radius: 5px;
    background-color: black;
    color: aliceblue;
    transition: 400ms ease-in-out;
    cursor: pointer;
}

.cart-summary .checkout-button:hover{
    filter: drop-shadow(5px 5px 8px gray);
}

/* class for checkout btn */
.checkout-err-btn{
    background-color: lightslategray;
    cursor: not-allowed;
    padding-block: 0.3rem;
    padding-inline: 0.5rem;
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 1rem;
    border: none;
    border-radius: 5px;
    color: aliceblue;
    transition: 1000ms ease-in-out;
}