<!-- About Page -->

<section id="about-page">
    <div id="author-name">
        <h2>RITESH KUMAR RAI</h2>
    </div>
    <div id="tech-used">
        <h3>Technology Used:</h3>
        <div class="tech-used-logos">
            <img src="https://img.icons8.com/?size=100&id=EAUyKy3IwmqM&format=png&color=000000" alt="html-logo-image" title="HTML" onclick="HapticOn()">
            <img src="https://img.icons8.com/?size=100&id=21278&format=png&color=000000" alt="css-logo-image" title="CSS" onclick="HapticOn()">
            <img src="https://img.icons8.com/?size=100&id=PXTY4q2Sq2lG&format=png&color=000000" alt="javascript-logo-image" title="JAVASCRIPT" onclick="HapticOn()">
            <img src="https://img.icons8.com/?size=100&id=21896&format=png&color=000000" alt="api-logo-image" title="API" onclick="HapticOn()">
            <img src="https://img.icons8.com/?size=100&id=114474&format=png&color=000000" alt="json-logo-image" title="JSON" onclick="HapticOn()">
        </div>
    </div>
    <div class="project-link">
        <span>Github Link: <a href="#" target="_blank" rel="noopener noreferrer">Click Here...</a></span> 
        <span>Previous E-commerce Project Link: <a href="https://ritesh-kumar-rai.github.io/JAVASCRIPT-E-COMMERCE-FRONTEND-PROJECT/" target="_blank" rel="noopener noreferrer">Go Live</a></span>
    </div>
    <div class="connect-with-me">
        <h3>Connect with Me:</h3>
        <div class="connect-logos">

            <a href="https://www.linkedin.com/in/ritesh-kumar-rai-bb6901296" target="_blank" rel="noopener noreferrer">
                <img src="https://img.icons8.com/?size=100&id=WyB8Jtm9PZoo&format=png&color=000000" alt="linkedin-logo" title="LINKEDIN" onclick="HapticOn()">
            </a>
            <a href="https://x.com/RITESH_RAI555?t=qXj6QkIZDmpeH6NAmf15bQ&s=09" target="_blank" rel="noopener noreferrer">
                <img src="https://img.icons8.com/?size=100&id=phOKFKYpe00C&format=png&color=000000" alt="twitter-x-logo" title="TWITTER or X" onclick="HapticOn()">
            </a>
            <a href="https://github.com/Ritesh-Kumar-Rai" target="_blank" rel="noopener noreferrer">
                <img src="https://img.icons8.com/?size=100&id=Mhl1TfJLdkh5&format=png&color=000000" alt="github-logo" title="GITHUB" onclick="HapticOn()">
            </a>
        </div>

    </div>
</section>

