
<!-- Contact Page -->

<section id="contact-form-section">
    <div class="contact-us-info">
        <h3>Get in touch:</h3>
        <p>Fill in the form to start a conversation</p>
        <ol>
            <li><i class="ri-map-pin-line"></i><span>Lorem epsilum,Street,<br>State,Postal Code</span></li>
            <li><i class="ri-phone-line"></i><span>+91 1234567890</span></li>
            <li><i class="ri-mail-line"></i><span>info@vanillastore.org</span></li>
        </ol>
    </div>
    <form id="contact-us-form" action="#">
        <input class="contact-form-control" type="text" name="contact-fullname" id="contact-fullname" title="fullname" placeholder="Full Name">
        <input class="contact-form-control" type="email" name="contact-email" id="contact-email" title="email" placeholder="Email">
        <input class="contact-form-control" type="tel" name="contact-telephone" id="contact-telephone" title="telephone number" placeholder="Telephone Number">

        <input type="button" value="Submit" onclick="HapticOn()">
    </form>
</section>



   
