<header>
        <h1>Vanilla JS E-commerce Website </h1>
        <h2>With Custom SPA Routing using [HTML, CSS, JAVASCRIPT]</h2>
        <h4>MADE BY RITESH KUMAR RAI</h4>
</header>

<section id="products-list">
    <div class="our-products">
        <h1>Our Products</h1>
    </div>
    <div id="filter-home-items">
            <button id="all">All</button>
            <button id="mens-clothing">Men's Clothing</button>
            <button id="electronics">Electronics</button>
            <button id="jewelery">Jewelery</button>
            <button id="womens-clothing">Women's Clothing</button>
    </div>
    <div id="search-home">
        <form method="get" id="search-form">
                <label for="search" style="display: none;"></label>
                <input type="search" name="search" id="search" placeholder="Search Products" title="Search Products" onclick="HapticOn()">
                <button type="submit" id="search-btn" title="Search"><i class="ri-search-line"></i></button>
        </form>
    </div>
    <div class="product-cards">
            
    </div>
</section>